In [30]:
from importlib import reload
import logging
import taxbalance

reload(logging)
reload(taxbalance)

logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s %(levelname)s:%(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')


balance = taxbalance.UFNSTaxBalance().add_from_excel("data/Выписка операций по расчету с бюджетом Ангарский (2020).xlsx")\
    .add_from_excel("data/Выписка операций по расчету с бюджетом Ангарский (2022).xlsx")\
    .add_from_excel("data/Выписка операций по расчету с бюджетом Ангарский (2021).xlsx")

2023-04-03 17:35:24 INFO:Успешно импортировано 816 строк.
2023-04-03 17:35:24 INFO:Загрузка файла завершена. В балансе содержится 816 операций.
2023-04-03 17:35:25 INFO:Успешно импортировано 913 строк.
2023-04-03 17:35:25 INFO:Загрузка файла завершена. В балансе содержится 1729 операций.
2023-04-03 17:35:27 INFO:Успешно импортировано 764 строк.
2023-04-03 17:35:27 INFO:Загрузка файла завершена. В балансе содержится 2493 операций.

In [9]:
ndfl = balance.get_payments(tax="НДФЛ")

In [13]:
ndfl.groupby(by=['document_number', 'document_date']).sum('credit')['credit']

document_number  document_date
002177           2020-12-11         8711.62
006355           2021-03-31        66854.39
                 2021-04-01       106842.61
                 2021-04-02        71576.90
                 2021-04-03        45357.99
                                    ...
9861             2020-09-29        19322.07
                 2020-09-30       107800.38
                 2020-10-01       129914.10
                 2020-10-02        69721.03
                 2020-10-30         2540.42
Name: credit, Length: 191, dtype: float64

In [55]:
reload(logging)
reload(taxbalance)
logging.basicConfig(level=logging.DEBUG)
sber = taxbalance.SberPaymentsExcelBuilder()\
    .import_excel("data/СберБизнес. Выписка за 2021.01.01-2021.12.31 счёт 40702810465000000826.xlsx")\
    .clean_column_values()\
    .identify_columns()\
    .select_datetime_rows()\
    .set_types()\
    .select_validated_rows()

DEBUG:root:Импортируем Файл: data/СберБизнес. Выписка за 2021.01.01-2021.12.31 счёт 40702810465000000826.xlsx
DEBUG:root: Найдена: [Дата проводки] - колонка: Unnamed: 1
DEBUG:root: Найдена: [Сумма по дебету] - колонка: Unnamed: 9
DEBUG:root: Найдена: [№ документа] - колонка: Unnamed: 14
DEBUG:root: Найдена: [Назначение платежа] - колонка: Unnamed: 20
DEBUG:root:Загружено 276 операций из 276 строк.
DEBUG:root:Типы полей установлены.
DEBUG:root:Дополнительно отброшено -1
DEBUG:root:  operation_date  operation_sum document_number reason
0     2022-11-29            NaN             nan    nan

In [46]:
sber._result.notna()

     operation_date  operation_sum  document_number  reason
0              True          False             True    True
1              True           True             True    True
2              True           True             True    True
3              True           True             True    True
4              True           True             True    True
..              ...            ...              ...     ...
257            True           True             True    True
258            True           True             True    True
259            True           True             True    True
260            True           True             True    True
261            True           True             True    True

[262 rows x 4 columns]

In [56]:
sber._result

,operation_date,operation_sum,document_number,reason
1,2021-01-04,165963.29,4805,По решению о взыскании № 1133 от 21.12.2020 на...
2,2021-01-06,21352.26,4805,По решению о взыскании № 1133 от 21.12.2020 на...
3,2021-01-07,10300.00,4805,По решению о взыскании № 1133 от 21.12.2020 на...
4,2021-01-08,40063.53,4805,По решению о взыскании № 1133 от 21.12.2020 на...
5,2021-01-11,2915.42,4809,По решению о взыскании № 1133 от 21.12.2020 на...
...,...,...,...,...
257,2021-12-30,2573.00,35648,По решению о взыскании № 8785 от 06.12.2021 на...
258,2021-12-30,2889.42,35648,По решению о взыскании № 8785 от 06.12.2021 на...
259,2021-12-30,4271.21,35648,По решению о взыскании № 8785 от 06.12.2021 на...
260,2021-12-30,56139.51,35648,По решению о взыскании № 8785 от 06.12.2021 на...
261,2021-12-30,62472.07,35649,По решению о взыскании № 8785 от 06.12.2021 на...

In [57]:
sber._result

,operation_date,operation_sum,document_number,reason
1,2021-01-04,165963.29,4805,По решению о взыскании № 1133 от 21.12.2020 на...
2,2021-01-06,21352.26,4805,По решению о взыскании № 1133 от 21.12.2020 на...
3,2021-01-07,10300.00,4805,По решению о взыскании № 1133 от 21.12.2020 на...
4,2021-01-08,40063.53,4805,По решению о взыскании № 1133 от 21.12.2020 на...
5,2021-01-11,2915.42,4809,По решению о взыскании № 1133 от 21.12.2020 на...
...,...,...,...,...
257,2021-12-30,2573.00,35648,По решению о взыскании № 8785 от 06.12.2021 на...
258,2021-12-30,2889.42,35648,По решению о взыскании № 8785 от 06.12.2021 на...
259,2021-12-30,4271.21,35648,По решению о взыскании № 8785 от 06.12.2021 на...
260,2021-12-30,56139.51,35648,По решению о взыскании № 8785 от 06.12.2021 на...
261,2021-12-30,62472.07,35649,По решению о взыскании № 8785 от 06.12.2021 на...